.slot {
  border: 1px solid #666;
  padding: 5px;
  margin: 1px;
  min-height: 28px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #eee;
  text-align: center;
}

.empty {
  color: #888;
}

.system {
  background-color: #444;
  font-style: italic;
}

.equipment {
  background-color: #555;
  font-weight: bold;
}

.isOver {
  background-color: #007bff;
  color: white;
}
