.diagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
}

.left-arm {
  grid-column: 1;
  grid-row: 2;
}

.left-torso {
  grid-column: 2;
  grid-row: 1;
}

.center-torso {
  grid-column: 2;
  grid-row: 1;
  margin-top: 220px;
}

.head {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 10px;
}

.right-torso {
  grid-column: 2;
  grid-row: 1;
  margin-left: 220px;
}

.right-arm {
  grid-column: 3;
  grid-row: 2;
}

.left-leg {
  grid-column: 1;
  grid-row: 3;
}

.right-leg {
  grid-column: 3;
  grid-row: 3;
}
